[Unit]
Description=NDIMon-R Source Finder
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=/usr/local/bin/ndimon-finder
Environment=LD_LIBRARY_PATH=/usr/local/lib

[Install]
WantedBy=default.target
